<li class="DashboardItem">
    <div class="DashboardItemimageBox"><img class="dashboardItemImage" src="/images/products/<%= product.photo %>" alt=""></div>
    <div class="DashboardItemSecundaryBox">

        <div class="DashboardItemInfoBox">
            <p class="DashboardItemInfo"> <%= product.name %>    </p>
    <p class="DashboardItemInfo"> $ <%= product.price %>   </p>
    
</div>
<div class="DashboardItemTagsBox">
    <p class="DashboardItemTag"> <%= product.tag[0] %> </p>
    <p class="DashboardItemTag"> <%= product.tag[1] %>    </p>
    <p class="DashboardItemTag"> <%= product.tag[2] %>   </p>
</div>
</div>
<a href="" class="DashboardItemAction"><i class="itemAction fa-solid fa-eye"></i></a>
    <a href="" class="DashboardItemAction"><i class="itemAction fa-solid fa-pen-to-square"></i></i></a>
    <a href="" class="DashboardItemAction"><i class="itemAction fa-regular fa-trash-can"></i></a>
</li>        