<!DOCTYPE html>
<html>
  <% let {categoriesList,recommended} = indexView %>

  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header',) %>
    <%- include('./partials/navbar', {categoriesList : categoriesList}) %>
    <%- include('./partials/banner',) %>
    <%- include('./partials/highlight',{recommended : recommended}) %>
    <%- include('./partials/footer',) %>
  </body>
