<!DOCTYPE html>
<html>
  <% let {categoriesList,recommended} = indexView %>

  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header',) %>
    <main>
      <div class="main-page">
        <%- include('./partials/navbar', {categoriesList : categoriesList}) %>
        <%- include('./partials/previews',{recommended : recommended}) %>
        <%- include('./partials/highlight',{recommended : recommended}) %>
      </div>
    </main>
    <%- include('./partials/banner',) %>
    <%- include('./partials/footer',) %>
  </body>
